<section>
  <button class="cssbuttons-io-button" (click)="select(1)">
    La carte
    <div class="icon">
      <svg
        style="color: white"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pin-map-fill"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"
          fill="white"
        ></path>
        <path
          fill-rule="evenodd"
          d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"
          fill="white"
        ></path>
      </svg>
    </div>
  </button>
  <button class="cssbuttons-io-button" (click)="select(2)">
    Les villes
    <div class="icon">
      <svg
        style="color: white"
        version="1.1"
        id="town-hall"
        xmlns="http://www.w3.org/2000/svg"
        width="15"
        height="15"
        viewBox="0 0 15 15"
      >
        <path
          d="M13,4H9l0-3L7.5,0L6,1v3H2L1,5v1h13V5L13,4z M7.5,1.5c0.4,0,0.7,0.3,0.7,0.8S7.9,3,7.5,3S6.7,2.7,6.7,2.2 C6.7,1.8,7.1,1.5,7.5,1.5z M13,7H2v4l-1,1.5V14h13v-1.5L13,11V7z M5,12.5H4V8h1V12.5z M8,12.5H7V8h1V12.5z M11,12.5h-1V8h1V12.5z"
          fill="white"
        ></path>
      </svg>
    </div>
  </button>
</section>
<div *ngIf="screen === 1">
  <app-map></app-map>
</div>
<div *ngIf="screen === 2" class="cities">
  <app-cities *ngFor="let city of cities" [city]="city"></app-cities>
</div>
